# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django related
*.log
local_settings.py

# PyCharm files
*.iml
.idea/
*.pyc

# macOS
.DS_Store

# Windows
Thumbs.db

# DB

db.sqlite3
*.sqlite3
